@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root{
    --size: 100px;
    --coin-color: #f7931a;
    --edge-color : rgb(32, 25, 25);
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



main{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}

main > *{
    margin: 1em 0;
}


p{
    font-size: 2em;
    font-family: 'Staatliches', cursive;
    text-align: center;
    margin: 1em  auto ;
    color: var(--coin-color);
    
    
}


.coin{
    width: var(--size);
    height: var(--size);
    background-color: var(--coin-color);
    background-image: url('src/bitcoin.webp');
    border-radius: 50%;
    /*animation: cha 3s linear 0s infinite normal forwards;*/
    animation: changeBack .3s linear 0s infinite normal forwards,
                move .3s linear 0s infinite normal backwards,
                shadow .15s ease-in-out 0s infinite normal forwards;
    position: relative;
}


.coin::before{
    content: " ";
    width: var(--size);
    padding: .1em .3em;
    background-color: rgb(0, 0, 0);
    border-radius: 1em;
    position: absolute;
    bottom: -15px;
    filter: blur(.9em);
}


@keyframes changeBack{
    0%{
        background-image: url('src/bitcoin.webp');
        background-size: cover;
    }
    
    25%{
        background-image: url('src/bitcoin.webp');
    }
    26%{
        background-image: url('src/lightning.webp');

    }
    
    50%{
        background-image: url('src/lightning.webp');
        background-size: cover;
    }

    75%{
        background-image: url('src/lightning.webp');

    }
    76%{
        background-image: url('src/bitcoin.webp');
        background-size: cover;
    }
    100%{
        background-image: url('src/bitcoin.webp');
        background-size: cover;
    }
}

@keyframes move{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
        box-shadow: 0 0 0 0 #000;
    }
}


@keyframes shadow{
    0%{
        box-shadow: 0 0 0 0 #000;
    }
    50%{
        box-shadow: 15px 0 0 0 #000;
      

    }
}



.coin:nth-of-type(2){
    filter: hue-rotate(200deg);
}


